

/*body {
	background-image: url("../images/bg7.jpg");
	background-position: center;
	background-repeat: repeat;
}*/

#ContactInfo {
	padding-bottom: 5px;
}

#ContactInfo h1 {
	font-size: 40px;
	font-weight: bold;
	font-family: cursive, Verdana, Geneva, sans-serif;
	color: #336633;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-top: 5px;
	text-align: center;
	text-shadow: 1px -1px 1px #ccffff;
}

.street_address {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: Verdana;
	margin: auto;
	color: #ccffff;
	padding-top: 15px;
	padding-right: 50px;
	padding-left: 50px;
}

.personal_info {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: Verdana;
	margin: auto;
	color: #ccffff;
	padding-top: 15px;
	padding-right: 50px;
	padding-left: 50px;
}

.container1 {
	background-color: #fff;
	opacity: 0.85;
	padding: 10px;
	margin-top: 0;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 5px solid black;
}

.container2 {
	background-color: #F5F4DA;
	opacity: 0.9;
	padding-left: 30px;
	margin-left: -40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: -1px -1px 1px #000;

}

#Experience h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: cursive, Verdana, Geneva, sans-serif;
	color: #050505;
	opacity: 0.9;
	text-align: center;
	margin-top: 5px;
	margin-bottom: -5px;
	text-decoration: underline;
}

.Organization th {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 30px;
	font-family: cursive, Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	color: #000;
	margin-left: 3px;
	margin-right: 3px;
}

.Organization td {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 7px;
	font-size: 11px;
}

.Responsibilities {
	margin: auto;
}

.Responsibilities th {
	font-family: cursive, Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	text-decoration: underline;
}

.Responsibilities td{
	font-size: 11px;
}

.divider {
	border-bottom: 3px dotted black;
}
